@import "tailwindcss";


/* Hide scrollbar but keep scroll */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}


/* Custom scrollbar for textarea */
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #96ad9e;
  /* green-400 */
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #214b30;
  /* green-500 */
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-trk {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 307;
  font-style: normal;
  font-variation-settings:
    "wdth" 86.2;
}